/* Importar otro tipo de FONT */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* Variables */
:root {
    --background-color: #e7f3f8;

    --not-completed-title:  #ff403f;
    --not-completed-body:  #ffa6ac;

    --progress-title: #f7e34a;
    --progress-body: #fafad2;

    --completed-title:  #acc64a;
    --completed-body: #edf6c5;

    --list-item: #e3eaf5;

    /* Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;


    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}
/* ----------------------------------- */

/* Styles 4 the Entire Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* Body para el background */
body {
    background: var(--background-color)
}

/* Como quiero que me ordene todo lo del main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vmin;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}
/* ------------------------------------------ */

/* Estilos Titulo */


/* ------------------------------------------ */
/* Disenio para cada column */
.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-section .dash-section {
    border-radius: var(--border-radius-s);
    padding: 20px 20px;
}

/* Alinear todo en un ROW - cada dash section*/
.row-section {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    justify-content: space-between;
}

/* Colores para el titulo */
.main-section .dash-section .row-section {
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-section .dash-section .title {
    border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
    border-bottom: 0;
}

.title-not-completed {
    background: var(--not-completed-title);
}

.title-progress {
    background: var(--progress-title);
}

.title-completed {
    background: var(--completed-title)
}

/* Modificaciones para la Cantidad */
.main-section .dash-section .title .task-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    transition: transform 0.8s ease;
}

.scale-animation {
    transform: scale(1.1);
}

/* Modificaciones al boton */
.dash-section .row-section .add-btn {
    font-size: var(--font-size-xl);
    padding: 0px 10px;
    font-weight: var(--font-weight-bold);

    transition: 0.4s ease;
}

.dash-section .row-section .add-btn:hover{
    color: var(--background-color);
    transform: scale(1.1);
}

/* Cuerpo de Secciones */
.main-section .dash-section .list-actv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    gap: 4px;
}

.main-section .dash-section .not-list {
    background: var(--not-completed-body)
}

.main-section .dash-section .progress-list {
    background: var(--progress-body)
}

.main-section .dash-section .completed-list {
    background: var(--completed-body)
}

/* Estilizacion del boton de meter task */
.main-section .dash-section .list-actv .task-input {
    flex: 1; /* Para que ocupe el espacio disponible */
    margin: 10px;
    padding: 5px 5px;
    border-radius: var(--border-radius-s);
    border: 2px solid #ccc;
    font-size: var(--font-size-s);
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-section .dash-section .list-actv .check-btn {
    font-size: var(--font-size-m);

    transition: 0.3s ease;
}

.main-section .dash-section .list-actv .check-btn:hover {
    color: var(--background-color);
    transform: scale(1.1);
}

/* Estilizacion para los lis */
.main-section .dash-section .list-actv .activities li {
    margin: 15px;
    padding: 5px 10px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    text-align: center;
    transition: 0.4s ease;
    border-radius: var(--border-radius-s);
}

.main-section .dash-section .list-actv .activities li:hover {
    transform: scale(1.1);
}

/* Estilos de cada item en la lista */
.main-section .dash-section .activities .not-item {
    background: var(--not-completed-title);
}

.main-section .dash-section .activities .progress-item {
    background: var(--progress-title);
}

.main-section .dash-section .activities .completed-item {
    background: var(--completed-title);
}





